doctype html
html
  head
    title Kirtika Dance Academy
    block scripts
    block style
  body 
    nav#navbar
         ul
            div#logo 
                img(src="/static/img/mj.jpg")                 
                | KDA 
            li #[a(href="/") Home] 
            li #[a(href="/") About Us]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content      
    footer#footer
        | copyright © 2019 KirtikaDanceAcademy.com | All right reserved     