extends base.pug

block scripts
    scripts(scr="/static/index.js") 
block style 
    style 
        
        include ../static/styleContact.css

block content 
    div.container
        h1 Contact Us 
        form(action="/contact", method="post", class="myForm") 
            input(type="text", class="myInput", name="Name", placeholder="Enter your name") 
            input(type="Phone", class="myInput", name="Phone", placeholder="Enter your phone number") 
            input(type="E-mail", class="myInput", name="E-mail", placeholder="Enter your e-mail id") 
            input(type="text", class="myInput", name="Address", placeholder="Enter your address") 
            input(type="text", class="myInput", name="Desc", placeholder="Enter your concern")
            button(class="btn")
             | submit