@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
*{ margin: 0;
    box-sizing: border-box;
    padding: 0;


}
h1{
    text-align: center;
    margin: 12px 0;
} 

.myForm{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}
.container{
    min-height: 65vh;
    margin: 43px 0;
}
.container h1{
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 34px;
    
}

.myInput{
    width: 40%;
    padding: 9px;
    margin: 8px;
    font-size: 16px;
    border: 2px solid rgb(128, 77, 77);
    border-radius: 12px;
    outline: none;
    }

    .btn{
        padding: 8px 16px;
        font-size: 18px;
        border: 2px solid black;
        border-radius: 10px ;
        color: white;
        background: rgba(131, 55, 253, 0.555);
        cursor: pointer;
        outline: none;
        margin: 23px;
        
    }
    #logo{
        display: flex;
        color: white;
        align-items: center;
        margin: 0px 14px;
        font-size: 28PX;
        margin-right: 40px;
    }
    #logo img{
        height: 42px;
        filter: invert(1);
        
        
    }
    
    
    #navbar ul{
         display: flex;
        flex-direction: row;
        align-items: center;
        font-family: helvetica neue,Helvetica,Arial,sans-serif;
    
    }
    
    #navbar li{
        list-style: none;
    }
    #navbar{
        background-color: rgba(71, 148, 199, 0.555);
        padding: 18px 14px;
        font-family: helvetica neue,Helvetica,Arial,sans-serif;
    }
    
    #navbar li a{
        color: white;
        text-decoration: none;
        padding: 13px 20px;
        font-size: 30px;
    }
    #navbar li a:hover{
        color: rgb(7, 8, 8);
        text-decoration: none;
        padding: 13px 30px;
    }
    #footer{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
      height: 60px;
      font-family: lato,sans-serif;
      background-color: black;
      color: aliceblue;
      
    }
    
    